### Vagrant ###
# General
.vagrant/*

### Vagrant Patch ###
*.box

*.log

### macOS ###
.DS_Store

### Environment ###
.env
/ssl

/front/.nuxtrc
/ubuntu-xenial-16.04-cloudimg-console.log

### terraform ###
# terraform
*/.terraform
*.tfstate*
*.tfvars
*/*.tfvars
